<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Senna Soedito</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body style=" ">
<div class="background_image">
        <div class="title_screen">
            <div class="name_title">
                <img src="static/sennadelfgie.png" class="selfie">
                <h1><mark>Senna Soedito</mark><br> a junior pythoneer &#38; aspiring aerospace engineer<br></h1>
                <br>
            </div>

            <div class="menu" >
                <h1>
                    <ul>
                        <li><a href="aboutme.html">portfolio</a></li>
                        <br>
                        <li><a href="url">contact</a></li>
                        <br>
                        <li><a href="url">blog</a></li>
                    </ul>
                </h1>
            </div>
       </div>

            <hr class="divider">

            <div class="text_block_info">
                <h2>About me</h2>
                <div class="abt_me_cnt">
                <p class="abt_me_text">
                    Hello! I'm senna Soedito, ive been programming since I was 15 years old. My main language is python, but
                    I am proficient in html and css too. I'd like to study aerospace engineering, maybe even at MIT but
                    probably somewhere else. My hobbies programming (obviously), playing the violin, drawing, baking, and
                    gardening. More about me on the about me page!
                </p>
                <img src="static/qTmvroik2NtHVGsfCHyyxF-1200-80.jpg" class="rocket_img">
            </div>
       </div>
</div>


</body>

</html>